.heading{
    font-size: 3.2rem;
    line-height: 1.1rem;
}

.heading > span{
    color: #007bff;
    color: greenyellow;
    text-decoration: underline;
}

.name-heading{
    font-size: 2rem;
    font-weight: 300;
}

main > ol {
    line-height: 2rem;
}

.hire-me-buttom {
    color: black;
    background-color: greenyellow;
    padding: 6px 16px;
    border-radius: 6px;
    text-decoration: none;
    margin-top: 2rem;
    display: flex;
    width: fit-content;
    gap: 8px;
    font-weight: semibold;
}